<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding</title>

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>C a l c u l a t o r</h1>
    </header>

    <h2>You can add only </h2>

    <main>
        <section>
            <form action="/" method="post">
                <label for="">Enter the first number :</label>
                <input type="text" name="n1"><br><br>
    
                <label for="">Enter the first number :</label>
                <input type="text" name="n2"><br><br>
    
                <button type="submit">add</button>
            </form>
        </section>
    </main>

    <footer>
        <p> Done by Shahad</p>
    </footer>
</body>
</html>