body{
  background-color:lightgray;
}
header {
  margin-bottom: 20px;
  
  background-color:darkslategray;
  border-radius:70px 70px 70px 70px;
  height: 100px;
  text-align: center;

 
}

header h1{
  
  color: darkgoldenrod;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 100px;
  text-shadow: 1px 1px 1px black;
}




h2{
  color: darkgoldenrod;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 30px;
}








form{
    margin: auto;
    width: fit-content;
    text-align: center;
}

section{
  box-shadow: 10px 10px 25px rgb(179, 172, 172);
  width: 90%;
  margin: auto;
  border-radius: 15px;
  margin-top: 10px;
}


label{
  font-size: 25px;
  font-weight: 400;
}

input{
  border: 1px solid gray;
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

button{
  background-color: darkgoldenrod;
  color: black;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 25px;
  width: 150px;
  margin: auto;
  margin-bottom: 15px;
}

button:hover{
  background-color: rgb(211, 158, 23);
  font-size: 26px;
}

button:active{
  transform: scale(0.9);
  border-radius: 15px;
}

footer{
  text-align: center;
  background-color: darkslategray;
  height: 70px;
  border-radius: 70px 70px 70px 70px;
}

p{
  color: darkgoldenrod;
  padding-top: 20px;
  font-weight: 200;
  font-size: 30px;
  text-shadow: 1px 1px 1px black;
  font-family: 'Qwitcher Grypen', cursive;

}